body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Css for start button */
.start-button {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: auto;
    height: 100vh;


}

#btn {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: lightblue;
    border: none;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}

#btn:hover {
    background-color: white;
    color: black;

}


/* CSS FOR CONTAINER */
#container {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 600px;
  
}

.top-div{
    background-color: darkkhaki;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items:;
  
}